header{
    background: url(img/limp.png);
    background-size: 800px; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

#buscadorArticulos{
    margin-top: 15px;
}
#boton{
    margin-top: 10px;
}